.grid-container {
       display: grid;
       grid-template-rows: 100px 100px 100px;
       grid-template-columns: 100px 100px 100px;
       row-gap: 10px;
       column-gap: 20px;
   }
   .grid-item {
       background-color: blue;
       color: white;
       border: 3px solid purple;
       width: 100px;
       text-align: center;
       line-height: 100px;
       font-size: 30px;
   }