
    h1{
        color:skyblue;
    text-decoration :none;
    font-size:50px;
    text-align:center;
}
p{
    color:lightpink;
    font-size:35px;
    text-align:center;
}

img{
    width:160px;
    height:150px;
    border-style:solid;
    object-fit:cover;
    border-radius:50px;
    justify-content:space-between;  
}
body{
    background-color:lightslategray;
    font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px ;
    background-size:cover;
    background-attachment:fixed;
    background-position:center;

}
.logo{
display :flex;
justify-content: space-between; 
border-radius:50%;
color:antiquewhite;  

}
.menu a {
    display: flex;
    float:right;
    color: lightpink;
    text-decoration:none;
    border:2px solid lightseagreen;
    padding:8px 16px;
    margin-right: 20px;
    border-radius:4px;
    justify-content:space-between;
    gap: 40px;
}
a{
  margin-top: 30px;
}  

h2 {
    text-align: center;
    color: lawngreen;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
    text-align:center;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color:darkblue;
}
.head
{
    text-align: center;
}
.btn{
          color: aqua;
          font-family: 'Courier New', Courier, monospace;
        }












































































































































