
    h1{
        color:black;
    text-decoration :none;
    font-size:50px;
    text-align:center;
}
p{
    color:aqua;
    font-size:35px;
    text-align:center;
}

img{
    width:160px;
    height:150px;
    border-style:solid;
    object-fit:cover;
    border-radius:50px;  
}
body{
    /* background-color:lightseagreen; */
    background-color:url(images.jfif);
    font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:blueviolet;
    font-size: 20px ;
    background-size:cover;
    background-attachment:fixed;
    background-position:center;

}
.logo{
display :flex;
justify-content: space-between; 
border-radius:50%;
color:antiquewhite;   
}
.menu a {
color: black;
text-decoration:none;
border:20px solid lightseagreen;
padding:8px 16px;
border-radius:4px;
}
h2 {
    text-align: center;
    color: #ff4757;
    margin-bottom: 20px;
}.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}




